doctype html
html
    head
        title Remove
    body
        form(action="/remove", method="POST")  
            label Password?
            input(type='password', name='password')#password
            input(type='submit')